/* ============= Container for Demo ============= */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666; margin:0;}
a {text-decoration:none;}


#header {width:100%; background:#34495E; border-bottom:3px solid #0B292D;}
.topNav {background:#253749; width:100%; border-bottom:1px solid #0B292D;}
.topNav a {display:block; padding:5px 10px; color:#FFF;}
.topNav a:hover {background:#2B445E; transition:background 0.5s ease}

.headingContainer {width:1024px; margin:50px auto; }
.heading {color:#FFF; text-align:center;}
.heading h1 {margin-bottom:10px;}
.heading a {color:#00BFFF;}
.heading P {font-size:14px; margin-bottom:20px;}

.download {display:block;}

.btnContainer {margin:40px auto 0; width:450px;}
.btnContainer .download-btn  {display:block; float:left; padding:10px 30px; border:2px solid #0B292D; font-weight:bold; color:#00BFFF; width:150px; text-align:center; background:#1C3044; margin-right:10px;}

.download-btn {margin:0 auto; display:block; padding:10px 30px; border:2px solid #0B292D; font-weight:bold; color:#00BFFF; width:150px; text-align:center; background:#1C3044;}
.download-btn:hover {background:#00BFFF; color:#FFF; transition:background 0.5s ease-in-out;}

.clearfix:before, .clearfix:after {content: " "; display: table;}  
.clearfix:after {clear:both;}  
.clearfix {*zoom:1;}  

.pull-left {float:left;}
.pull-right {float:right;}

.container {margin-top: 40px;}

/* ============= Layout for Demo ============= */
.container {width:600px; margin-left:auto; margin-right: auto;}

.container header {margin-bottom: 10px; padding: 10px 20px; border-bottom: 1px solid #DDD; background: #f4f4f4;}

.half-col {border:1px solid #DDD; float:left; width:45%; margin-right: 5%; box-shadow: 0 3px 0 #EEE;}
.half-col.last {width:45%; margin-right: 0;}

.half-col ul {list-style: none; padding-left:20px;}
.half-col li {overflow: hidden; display: block; margin-bottom: 10px;}

input[type=checkbox],input[type=radio]{opacity:0;position:absolute;z-index:12;width:18px;height:18px;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{position:relative;z-index:11;display:inline-block;margin:0;line-height:20px;min-height:14px;min-width:14px;font-weight:normal;}
input[type=checkbox]+.lbl.padding-16::before,input[type=radio]+.lbl.padding-16::before{margin-right:16px;}
input[type=checkbox]+.lbl.padding-12::before,input[type=radio]+.lbl.padding-12::before{margin-right:12px;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:8px;}
input[type=checkbox]+.lbl.padding-4::before,input[type=radio]+.lbl.padding-4::before{margin-right:4px;}
input[type=checkbox]+.lbl.padding-0::before,input[type=radio]+.lbl.padding-0::before{margin-right:0px;}
input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before{font-family:fontAwesome;font-weight:normal;font-size:11px;color:#2091cf;content:"\a0";background-color:#FAFAFA;border:1px solid #CCC;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:0;display:inline-block;text-align:center;vertical-align:middle;height:13px;line-height:13px;min-width:13px;margin-right:1px; margin-top: -5px;}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\f00c';background-color:#F5F8FC;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:#CCC !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:Arial,Helvetica,sans-serif;font-size:36px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}